@model MvcMovie.Models.Pessoa

@{
    ViewData["Title"] = "Editar Pessoa";
}

<h1>Editar Pessoa</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Nascimento" class="form-label"></label>
                <input asp-for="Nascimento" class="form-control" type="date" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Cpf" class="form-label"></label>
                <input asp-for="Cpf" class="form-control" placeholder="000.000.000-00" data-mask="cpf" maxlength="14" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Matricula" class="form-label"></label>
                <input asp-for="Matricula" class="form-control" maxlength="15" readonly />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/cpf-mask.js" asp-append-version="true"></script>
}