@model MvcMovie.Models.Turma
@{
    ViewData["Title"] = "Cadastrar Turma";
}
<h1>Cadastrar Nova Turma</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DataInicio" class="form-label"></label>
                <input asp-for="DataInicio" class="form-control" type="date" maxlength="10" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DataFim" class="form-label"></label>
                <input asp-for="DataFim" class="form-control" type="date" maxlength="10" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Status" class="form-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<MvcMovie.Models.StatusTurma>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
